{% if pagination is not empty %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Code</th>
            <th>Currency name</th>
            <th>Exchange Rate</th>
            <th>Effective Date</th>
        </tr>
        </thead>
        <tbody>
        {% for exchangeRate in pagination %}
            <tr>
                <td>{{ exchangeRate.currency.code }}</td>
                <td>{{ exchangeRate.currency.currencyName }}</td>
                <td>{{ exchangeRate.rate|round_to(4) }}</td>
                <td>{{ exchangeRate.effectiveDate|date('Y-m-d') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
{% endif %}