{% extends 'base.html.twig' %}

{% block title %}Exchange Rate{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>
    <script>
        $(document).ready(function () {
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
        });
    </script>
{% endblock %}

{% block body %}
    <h1>Exchange Rates History</h1>
    <h5>filters:</h5>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-2">
            {{ form_row(form.currencies) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.fromDate, {'attr': {'placeholder':effectiveDate}}) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.toDate, {'attr': {'placeholder':effectiveDate}}) }}
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary mb-2" formnovalidate>Search</button>
        </div>
    </div>
    {{ form_end(form) }}
    {% include('exchange_rate/exchangeRateTable.html.twig') %}
{% endblock %}
