{% extends 'base.html.twig' %}

{% block title %}Exchange Rate{% endblock %}

{% block body %}

    <h1>Exchange Rates</h1>

    {% include('exchange_rate/exchangeRateTable.html.twig') %}
{% endblock %}
